nav {

    background: white;
    transition: box-shadow .1s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width:100vw;
    padding: 0 1rem;
    z-index: 1;

    @include mobile-only { 
        flex-direction: column; 
        justify-content: center;
    }


    // BOUTONS HOME ET PANIER
    .fa, .fas {

        font-size:4.5rem;
        @include mobile-only { font-size:3rem; }

        &:hover {
            background: linear-gradient(120deg, purple, $purple);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .nav-title {
        font-family: 'Pacifico';
        font-size:7rem;
        background: -webkit-linear-gradient(0deg, $orange 7%, $purple);
        transition: all .05s ease-out;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include mobile-only { order:1 }
    }

    .home { @include mobile-only { display: none; } }
    .panier { @include mobile-only { order: 3 } }
 
    .counter {
        font-size: 1rem;
        font-family: "Rock Salt";
        font-weight: bold;
        text-align: center;
        color:white;
        border-radius: 50%;
        line-height: 2.8rem;


        position:relative;
        background: rgb(224, 2, 2);
        top:-280%;
        right:-70%;
        width:2.8rem;
        height:2.8rem;

        @include mobile-only { 
            position: relative;
            top:-190%;
            right:-70%;
            font-size: .6rem;
            line-height: 1.7rem;
            width:1.7rem;
            height:1.7rem;

         }
    }

    &.shadow {
        box-shadow: 2px 2px 8px 1px rgba(0,0,0,.2);
    }
    
}
